body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #bce6dc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 16px;
    font-family: "Helvetica", UI-MONOSPACE;
    line-height: 1.6em;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    scroll-snap-type: y mandatory;

    background-image: url("mockImages/wallpaper.png");
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    /* background-attachment: fixed; */
    background-repeat: repeat-y;
    background-size: contain;
    /* backdrop-filter: blur(5px) opacity(0.2) brightness(1.9); */
    /* background-color: rgb(11, 165, 116); */
}

body>content{
    box-shadow: none;
    background-color: #fff0;
    scroll-snap-type: y mandatory;
    /* backdrop-filter: blur(1px) opacity(0.2) brightness(1.9); */
}

#splash .title{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#splash .title .bkg{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 28px);
    height: 19px;
    width: 532px;
    background-color: rgb(177, 228, 185);
    z-index: -1;
}

#splash .title>div{
    text-align: center;
}

#splash .title h2{
    font-size: 40px;
    border-bottom: none;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#splash .title span{
    font-size: 50px;
    border-bottom: none;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    line-height: 1;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
    padding: 5px 20px;
    color: #FFF0;
    -webkit-text-stroke: 2px #000;
}

#splash .title p{
    margin: 0;
    padding: 0 80px;
    text-align: start;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
}


#splash h1 span:last-child{
    color: #FFF;
    -webkit-text-stroke: 1px #000;
    margin-left: 10px;
}






section{
    scroll-snap-align: start;
}

#splash{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.timeline{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 9px 0px #0003;
    transition: all 0.3s;
}

.timeline output{
    width: 20px;
}

h1 {
    text-align: initial;
    border-bottom: 2px solid #e5e5e5;
    line-height: 1.5;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: initial;
}

#splash h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    border-bottom: 2px solid #000;
    margin: 10px 100px 0 100px;
    text-align: center;
}
#splash h2, .authors{
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: relative;
}
h2, h3{
    text-align: initial;
}


.samplelabels{
    width: 120px;
    height: 120px;
    background: url("mockImages/labels.png");
    background-size: cover;
    position: absolute;
    left: calc(50% + 170px);
}

content{
    margin: 0;
    padding: 0 75px;
    background-color: #FFF;
    max-width: min(750px, 100% - 150px);
    display: block;
    box-shadow: 0 0 20px 10px #00000055;
    text-align: center;
}

p, ul{
    text-align: initial;
    text-indent: 10px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center .button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.center .button form{
    width: max-content;
}

.center>div>div{
    position: relative;
}

.timeline>div{
    display: flex;
    justify-content: center;
}





#splashgraphic{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 11px 0 0 0;
    width: 100%;
    flex-grow: 1;
}

#splashgraphic .gap{
    flex-grow: 1;
}

#treetops{
    position: relative;
    flex-grow: 2;
    min-width: 740px;
    min-height: 500px;
    /* background-color: rgb(222, 218, 183); */
    /* background-image: url("mockImages/treetop.png"); */
    /* border: 2px solid rgb(179, 169, 140); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;: */
}

/* @media (max-width: 550px){
    #treetops{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
    }
} */

#treetops>div{
    height: 100%;
}

#trees_div{
    height: 100%;
    width: 100%;
}

#trees_svg{
    width: 100%;
    height: 100%;
}

#splashgraphic .legenda{
    /* background-color: antiquewhite; */
    padding: 20px;
    flex-grow: 1;
}

#ps-label-graphic{
    background-repeat: no-repeat;
    background-size: cover;
}

.pseudo-label>div:first-child{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

@media (max-width: 900px) {
    .pseudo-label>div:first-child{
        flex-wrap: wrap-reverse;
    }
}

.pseudo-label .left{
    width: min-content;
    position: relative;
}

.pseudo-label .subtitles{
    position: absolute;
    top: 50px;
    left: 370px;
}

.pseudo-label .timeline{
    width: 100%;
    height: 40px;
}

#sampling .sampling-view>div:first-child{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

#sampling .sampling-view .left{
    /* background-image: url("mockImages/sampling.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    justify-content: center;
    display: flex;
    flex-direction: column;
}


#sampling form{
    justify-content: center;
}

#sampling button{
    width: 150px;
}

#sampling button:active{
    color: #287235;
}

#resultados .confusionMatrix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

#resultados .confusionMatrix .left{
    width: min-content;
    position: relative;
}

@media (max-width: 900px) {
    #resultados .confusionMatrix{
        flex-wrap: wrap;
    }

    #resultados .confusionMatrix .right{
        height: 90px;
        width: 100%;
    }
    
    #resultados .confusionMatrix .right svg{
        background-color: rgb(255, 255, 255);
        transform: rotate(90deg) translate(40%, -45%);
        transform-origin: top right;
        width: 90px;
    }
}


.box {
    border: 2px solid #e5e5e5;
}

.innerbox {
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 40px;
    margin-right: 40px;

    margin-top: 20px;
    margin-bottom: 20px;
    
}

#normal_0{fill: #ff000020}
#normal_1{fill: #0000ff20}
#normal_sum{fill: #66006610}

.tooltip{
    opacity: 0;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
    pointer-events: none;
}

/* SAMPLING */
.sampling-from-normals{
    /* position: relative; */
    width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sampling-from-normals .gap{
    width: 150px;
    height: 150px;
}


.normal-mix .controller{
    height: 300px;
}
.normal-mix .controller>div:first-child{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.normal-mix .legenda{
    display: flex;
    flex-direction: column;
}

.normal-mix .legenda .parameters{
    width: 160px;
}

#current_mix_params{
    width: 130px;
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 10px 0;
}

#current_mix_params>b{
    display: inline-block;
    width: 28ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#current_mix_params>p{
    color: #5f5f5f;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

#current_mix_params .mean1::before, #current_mix_params .var1::before {
    color: rgb(214, 111, 111);
}
#current_mix_params .mean2::before, #current_mix_params .var2::before {
    color: rgb(111, 173, 214);
}

#current_mix_params .mean1::before{content: "● μ₁ : ";}
#current_mix_params .mean2::before{content: "● μ₂ : ";}
#current_mix_params .var1::before{content: "● σ₁² : ";}
#current_mix_params .var2::before{content: "● σ₂² : ";}


.controller{
    position: relative;
    width: 400px;
    height: 150px;
}

.controller>div:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}

.curve_samples{
    fill: #00520d10;
}
.positioning.reverse-y{
    transform: scaleY(-1) translate(-20px, 37px);
}
#controllers-y{
    transform-origin: 75px 75px;
    transform: rotate(90deg);
    width: 150px;
    height: 400px;
    /* transform-origin: center right; */
    /* transform: rotate(90deg) scaleX(-1); */
}

#normalControllers circle{
    transition: r 0.2s;
}
#normalControllers circle:hover{
    fill: rgb(22, 135, 40);
    r: 10px;
}

#normalControllers2 circle{
    transition: r 0.2s;
    cursor: move;
}

#normalControllers2 circle:hover{
    /* fill: rgb(22, 135, 40); */
    filter: brightness(1.1);
    r: 10px;
}

.normal-mix>.observablehq{
    width: 100%;
}

.normal-mix form{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 400px;
    padding-left: 20px;
}

.normal-mix form input{
    width: 170px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: end;
    font-size: 12px;
}
.normal-mix form label{
    align-self: center !important;
    width: 100% !important;
    padding-left: 110px !important;
    font-size: 14px;
    color: #565656;
    line-height: 1;
    margin: 0;
    margin-bottom: 25px;
}

#fluxograma{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: gray; */
}

#fluxograma_svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    left: 0;
}

#fluxograma_svg>svg{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#fluxograma_svg>svg .infoBox{
    fill: #0000;
    transition: all 0.2s;
    transition-delay: 0.1s;
    z-index: 5;
    pointer-events: all;
    stroke: black;
    stroke-width: 2px;
    cursor: help;
    transform-origin: center;
    animation: pulsating_stroke 6s infinite ease-in-out;
}

#fluxograma_svg>svg .infoBox:nth-child(2n){
    animation-delay: 0.5s;
}

#fluxograma_svg>svg:hover .infoBox{
    fill: rgba(125, 125, 125, 0.263);
    transition-delay: 0s;
}

#fluxograma_svg>svg .infoBox:hover{
    fill: #0000;
    stroke-width: 5px;
    stroke: #afd5b5;
    animation: none;
}

@keyframes pulsating_stroke {
    0% {
        stroke-width: 2px;
        stroke: #000;
    }
    50% {
        stroke-width: 6px;
        stroke: #738276;
        filter: blur(1px);
    }
    100% {
        stroke-width: 2px;
        stroke: #000;
    }
    
}

#diagram_text{
    /* border-left: 5px solid black; */
    padding: 10px;
    padding-left: 40px;
    /* background-color: #e8e8e8; */
    position: relative;
    font-weight: 600;
    height: 80px;
    width: 100%;
    max-width: calc(100% - 75px );
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    align-items: center;
    color: #7fa18455;
    text-indent: 0;
}

#diagram_text.info{
    animation: text_appear 0.5s ease-out;
    color: #000;
    font-weight: 400;

}

@keyframes text_appear{
    0% {color: #0000;}
    50% {color: #0000;}
    100% {color: #000;}
}

#diagram_text::before{
    content: "!";
    display: flex;
    justify-content: flex-end;
    font-size: 20px;;
    line-height: 95px;
    color: #afd5b5;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #e9f9eb;
    border: 4px solid #afd5b5;
    transition: all 0.2s ease-out;
    z-index: -2;
    transition-delay: 0.6s;
}

#diagram_text.info::before{
    width: 100%;
    font-size: 70px;
    justify-content: flex-start;
    color: #afd5b566;
    padding-right: 10px;
    transition-delay: 0s;
    /* background-color: #fff; */
}
#referencias{
    margin-bottom: 50px;
}
#referencias h2{
    margin-top: 50px;
    text-align: center;
}

a{
    color: #4fac68;
}

a:active{
    color: #47d36c;
}	


/* CSS */
button {
  /* background-color: #afd5b533; */
  /* background-color: #fff8; */
  background-color: #0000;
  border: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.5;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: 0;
}

button:active{
    color: #287235;
    /* border: 2px solid black; */
    /* transform: scale(0.95); */
    box-shadow: inset -2px 2px 3px 0px #87948977;
    margin-left: -2px;
    margin-bottom: -2px;
    margin-right: 2px;
    margin-top: 2px;
}

button:after {
  content: '';
  position: absolute;
  border: 0px solid #000000;
  bottom: -4px;
  left: -4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  z-index: -2;
  background-color: #cee9d2;
  padding: 1px;
}
/* 
button:before {
    content: "▷";
    color: #afd5b599;
    position: absolute;
    z-index: -2;
    top: 20px;
    left: 37px;
    font-size: 50px;
    line-height: 1;
    font-weight: 100;
    transform: translate(-50%, -50%);
} */

button:focus:after{
    background-color: #a4f0b0;
}

button:hover:after {
  bottom: -2px;
  left: -2px;
}

button:active:after {
    bottom: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    button {
        padding: 5px 5px;
        font-size: 0.75rem;
    }
}

@media (max-width: 990px) {
    #splashgraphic .legenda{    
        position: absolute;
        right: 0;
        top: 180px;
    }
    #splashgraphic .gap{
        display: none;
    }
}

.about{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    left: 50%;
    background-color: #fff;
    padding: 5px 0px;
    text-align: center;
    width: 100px;
}






/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #c2f5dd;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #2f9352;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #2f9352;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #c2f5dd;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #2f9352;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #2f9352;
    outline-offset: 0.125rem;
  }

  .confusionMatrix svg rect{
    cursor: default !important;
  }

  
#current_sample_params{
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 10px 0;
}

#current_sample_params>b{
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    line-height: 1;
    margin-bottom: 10px;
}
#current_sample_params>p{
    color: #5f5f5f;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    line-height: 1.3;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

#current_sample_params .mean1::before, #current_sample_params .var1::before {
    color: rgb(54, 95, 47);
}
#current_sample_params .mean2::before, #current_sample_params .var2::before {
    color: rgb(83, 124, 106);
}

#current_sample_params .mean1::before{content: "● μ₁ : ";}
#current_sample_params .mean2::before{content: "● μ₂ : ";}
#current_sample_params .var1::before{content: "● σ₁² : ";}
#current_sample_params .var2::before{content: "● σ₂² : ";}

.timeline .help{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-right: 10px;
}

.timeline .help span{
    margin-right: 5px;
    font-size: 20px;
}

.timeline .help>div{
    width: 0px;
    font-size: 10px;
    transition: all 0.5s ease-in-out;
}
.timeline .help:hover>div{
    width: 100%;
}

.timeMarker{
    position: absolute;
    left: 8%;
    bottom: 8%;
    display: block;
    width: 20px;
    height: 20px !important;
}