body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #bce6dc; */
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 16px;
    font-family: "Helvetica", UI-MONOSPACE;
    line-height: 1.6em;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    scroll-snap-type: y mandatory;

    background-image: url("mockImages/wallpaper.png");
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    /* background-attachment: fixed; */
    background-repeat: repeat-y;
    background-size: contain;
    /* backdrop-filter: blur(5px) opacity(0.2) brightness(1.9); */
    /* background-color: rgb(11, 165, 116); */
}

body>content{
    box-shadow: none;
    background-color: #fff0;
    scroll-snap-type: y mandatory;
    /* backdrop-filter: blur(1px) opacity(0.2) brightness(1.9); */
}

section{
    scroll-snap-align: start;
}

.timeline{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    background: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 9px 0px #0003;
    transition: all 0.3s;
}

h1 {
    text-align: initial;
    border-bottom: 2px solid #e5e5e5;
    line-height: 1.5;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: initial;
}

h2, h3{
    text-align: initial;
}

.samplelabels{
    width: 120px;
    height: 120px;
    background: url("mockImages/labels.png");
    background-size: cover;
    position: absolute;
    left: calc(50% + 170px);
}

content{
    margin: 0;
    padding: 0 75px;
    background-color: #FFF;
    max-width: min(750px, 100% - 50px);
    display: block;
    box-shadow: 0 0 20px 10px #00000055;
    text-align: center;
}

p, ul{
    text-align: initial;
    text-indent: 10px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center .button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.center .button form{
    width: max-content;
}

.timeline>div{
    display: flex;
    justify-content: center;
}

#splash h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 38px;
    border-bottom: 2px solid #000;
    margin: 30px 100px 0 100px;
    text-align: center;
}

#splash h1 span:last-child{
    color: #FFF;
    -webkit-text-stroke: 1px #000;
}

#splash h2{
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#splashgraphic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 11px 0 0 0;
}

#treetops{
    position: relative;
    /* background-color: rgb(222, 218, 183); */
    /* background-image: url("mockImages/treetop.png"); */
    /* border: 2px solid rgb(179, 169, 140); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;: */
}

#splashgraphic .legenda{
    /* background-color: antiquewhite; */
    padding: 20px;
}

#splashgraphic .timeline{
    width: 100%;
    height: 40px;
}

#ps-label-graphic{
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction .pseudo-label>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

#introduction .pseudo-label .left{
    width: min-content;
    position: relative;
}

#introduction .pseudo-label .subtitles{
    position: absolute;
    top: 50px;
    left: 370px;
}

#introduction .pseudo-label .timeline{
    width: 100%;
    height: 40px;
}

#sampling .sampling-view>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

#sampling .sampling-view .left{
    /* background-image: url("mockImages/sampling.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    justify-content: center;
    display: flex;
    flex-direction: column;
}


#resultados .confusionMatrix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

#resultados .confusionMatrix .left{
    width: min-content;
    position: relative;
}

.box {
    border: 2px solid #e5e5e5;
}

.innerbox {
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 40px;
    margin-right: 40px;

    margin-top: 20px;
    margin-bottom: 20px;
    
}